@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
$backgroundColor: #D6BBD3;
$firstColor: #B08EAD;
$secondColor: #C9ADC6;
$thirdColor: #5F4D5D;
$fontColor: #5F4D5D;
$fontFamily:'Cormorant Garamond',
serif;